<section>
  <article class="block">
    <a href="www.google.es" class="link">What we do</a>
    <h2 class="tittle2">
      We design & build brands, campaings & digital projects for businnes large
      & small.
    </h2>
  </article>
  <article class="block b">
    <img src="./assets/images/eye-icon.jpg" alt="eye-icon" />
    <h3>Modern design</h3>
    <p>Brook embraces a modern look</p>
    <a href="">More deteailst</a>
  </article>
  <article class="block b">
    <img src="./assets/images/book-icon.jpg" alt="book-icon" />
    <h3>Modern design</h3>
    <p>Brook embraces a modern look</p>
    <a href="">More deteailst</a>
  </article>
  <article class="block b">
    <img src="./assets/images/boxes-icon.jpg" alt="boxes-icon" />
    <h3>Modern design</h3>
    <p>Brook embraces a modern look</p>
    <a href="">More deteailst</a>
  </article>
</section>
