.container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  background: pink;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 10px;
}
.item-1 {
  background-color: red;
  grid-column: span 12;
}
.item-2 {
  background-color: blue;
  grid-column: span 12;
}
.item-3 {
  background-color: red;
  grid-column: span 12;
}
