:root {
  margin: 50px;
}
.title1 {
  color: lightseagreen;
  margin: auto;
  text-align: center;
  padding: 5px;
}
.title2 {
  margin: auto;
  text-align: center;
  padding: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form-input {
  padding: 5px;
  margin: 5px;
}
.submit {
  background-color: lightseagreen;
}

/*.text-label:hover {
  color: grey;
  animation-name: hover;
  animation-duration: 1s;
}
*/

.mailaddress:hove .text-label {
  color: grey;
  animation-name: hover;
  animation-duration: 1s;
}

@keyframes hover {
  from {
    color: black;
  }
  to {
    color: grey;
    transform: translate(10px, 40px);
  }
}
