.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $background-black;
  padding: 20px $padding-horiz-header;
  &__logo {
    height: 35px;
  }
}
