.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $background-black;
  padding: 20px var $padding-horiz-header;
}
.header__logo {
  height: 35px;
}
