.header {
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__logo {
    height: 40px;
  }
  &__icon {
    height: 20px;
    margin-top: 10px;
    margin-right: 30px;
  }
}
