.divpadre {
  box-sizing: border-box;
}
.div1 {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: blue;
}
.div2 {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: crimson;
}
.div3 {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: darkgreen;
}
